# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
*.egg
*.env
*.venv
env/
venv/
ENV/
VENV/
.Python
pip-log.txt
pip-delete-this-directory.txt
.mypy_cache/
.pytest_cache/
.coverage
.tox/
.cache/
.pyre/
.dmypy.json
.pytype/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
pnpm-lock.yaml

# Vite
dist/
.vite/

# OS
.DS_Store
Thumbs.db

#
venv/
venv/bin
venv/lib
